task: detection

num_classes: 80
remap_mscoco_category: True

train_dataloader: 
  type: DataLoader
  dataset: 
    type: CocoDetection
    img_folder: /kaggle/input/rt-dert/dataset/train2017/
    ann_file: /kaggle/input/mscoco-2017-instances/instances_train2017.json
    transforms:
      type: Compose
      ops: ~
  shuffle: True
  batch_size: 8
  num_workers: 4
  drop_last: True 


val_dataloader:
  type: DataLoader
  dataset: 
    type: CocoDetection
    img_folder: /kaggle/input/rt-dert/dataset/val2017/
    ann_file: /kaggle/input/mscoco-2017-instances/instances_val2017.json
    transforms:
      type: Compose
      ops: ~ 

  shuffle: False
  batch_size: 32
  num_workers: 4
  drop_last: False